{% extends "base.html" %}
{% block title %}sponsoredBye{% endblock %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">sponsoredBye</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Predict</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/docs">Documentation<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/authors">Authors</a>
      </li>
    </ul>
  </div>
  <div>

    <span style="color: grey">Made May 2024</span>
    <button type="button" class="btn btn-primary" style="margin-left: 20px;" onclick="window.open('https://github.com/Werdert45/yt-sponsoredby-segmentation', '_blank')"> 
      <span>    
        <i class="bi-rocket" style="font-size: 1rem; color: white;"></i>
 Get Code</span></button>

  </div>
</nav>
<div class="jumbotron">
  <div class="container">
    <h2>Authors</h2>
    <p>Meet the creators of sponsoredBye, a sponsored by sentence classifier, build for a course in Natural Language Processing.
    <ul>
      <li>Ian Ronk: Data Engineer, responsible for data collection, cleaning and processing + system architecture</li>
      <li>Gianfranco Salocchi: </li>
      <li>Derya Durmush: </li>
      <li>Mark Levin: </li>
      <li>Jakub Nahorny: </li>
    </ul>
  </div>
</div>
<div class="container">
</div>
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col position-relative">
          <div style="padding: 70px 0;">
            <h2>Ian Ronk</h2>
            <p>Worked on gathering the data and setting up the pipelines to store the data, so that it can be accessed from everywhere. The data pipeline also includes this small webapp and the backend, which runs the models, both the sentence segmentation as the built model.</p>
            <div class="row justify-content-md-left">
              <div class="col-md-auto" style="padding-right: 0">
                <button type="button" class="btn btn-outline-primary" onclick="window.open('https://github.com/Werdert45', '_blank')" target="_blank">Github</button>
              </div>
              <div class="col-md-auto">
                <button type="button" class="btn btn-outline-secondary" onclick="window.open('https://www.linkedin.com/in/ian-ronk-7b054a120/', '_blank')">LinkedIn</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col" style="text-align: right">
          <img src="/static/portrait.webp"></img>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col" style="text-align: left">
          <img src="/static/portrait.webp"></img>
        </div>
        <div class="col position-relative" style="text-align: right">
          <div style="padding: 70px 0;">
            <h2>Ian Ronk</h2>
            <p>Worked on gathering the data and setting up the pipelines to store the data, so that it can be accessed from everywhere. The data pipeline also includes this small webapp and the backend, which runs the models, both the sentence segmentation as the built model.</p>
            <div class="row justify-content-md-right" style="position: absolute; right: 15px">
              <div class="col-md-auto" style="padding-right: 0">
                <button type="button" class="btn btn-outline-primary" onclick="window.open('https://github.com/Werdert45', '_blank')" target="_blank">Github</button>
              </div>
              <div class="col-md-auto">
                <button type="button" class="btn btn-outline-secondary" onclick="window.open('https://www.linkedin.com/in/ian-ronk-7b054a120/', '_blank')">LinkedIn</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col position-relative">
          <div style="padding: 70px 0;">
            <h2>Ian Ronk</h2>
            <p>Worked on gathering the data and setting up the pipelines to store the data, so that it can be accessed from everywhere. The data pipeline also includes this small webapp and the backend, which runs the models, both the sentence segmentation as the built model.</p>
            <div class="row justify-content-md-left">
              <div class="col-md-auto" style="padding-right: 0">
                <button type="button" class="btn btn-outline-primary" onclick="window.open('https://github.com/Werdert45', '_blank')" target="_blank">Github</button>
              </div>
              <div class="col-md-auto">
                <button type="button" class="btn btn-outline-secondary" onclick="window.open('https://www.linkedin.com/in/ian-ronk-7b054a120/', '_blank')">LinkedIn</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col" style="text-align: right">
          <img src="/static/portrait.webp"></img>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col" style="text-align: left">
          <img src="/static/portrait.webp"></img>
        </div>
        <div class="col position-relative" style="text-align: right">
          <div style="padding: 70px 0;">
            <h2>Ian Ronk</h2>
            <p>Worked on gathering the data and setting up the pipelines to store the data, so that it can be accessed from everywhere. The data pipeline also includes this small webapp and the backend, which runs the models, both the sentence segmentation as the built model.</p>
            <div class="row justify-content-md-right" style="position: absolute; right: 15px">
              <div class="col-md-auto" style="padding-right: 0">
                <button type="button" class="btn btn-outline-primary" onclick="window.open('https://github.com/Werdert45', '_blank')" target="_blank">Github</button>
              </div>
              <div class="col-md-auto">
                <button type="button" class="btn btn-outline-secondary" onclick="window.open('https://www.linkedin.com/in/ian-ronk-7b054a120/', '_blank')">LinkedIn</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
