{% extends "base.html" %}
{% block title %}sponsoredBye{% endblock %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">sponsoredBye</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Predict</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/docs">Documentation<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/authors">Authors</a>
      </li>
    </ul>
  </div>
  <div>
    <span style="color: grey">Made May 2024</span>

  </div>
</nav>
<div class="jumbotron translate-middle" style="text-align: center">
  <div class="container translate-middle" style="max-width: 800px">
    <h1>Documentation</h1>
    <br>
    <p>This documentation gives some explanation on how the model is constructed and hosted. The model was build on top of a BERT sentence embedder, on which we have build a pre-trained transformer, followed by a FNN that predicts the parts of the video that are a sponsored bye section.</p>
    <br>
    <img src="/static/bert_model.png" class="img-fluid" alt="Test" width=600>
</div>
</div>
{% endblock %}
