{% extends "base.html" %}
{% block title %}sponsoredBye{% endblock %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">sponsoredBye</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Predict<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/docs">Documentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/authors">Authors</a>
      </li>
    </ul>
  </div>
  <div>
    <span style="color: grey">Made May 2024</span>
  </div>
</nav>
<div class="jumbotron">
  <div class="container">
    <h2>sponsoredBye: skip those pesky sponsor sections</h2>
    <p>With the increase of sponsored YouTubers AND the non-skipable advertisements in between videos, we lose a lot of time, when watching YouTube. Unfortunately we cannot solve the problem of the unskippable advertisements (unless you purchase YouTube Premium or use Adblocker). What we CAN however do is skip the skippable sponsored-by segments inside of videos. That is what sponsoredBye does: give you an indication on when sponsored segments start and stop, so that you do not have to listen to these sections again and can watch your videos in piece. sponsoredBye works in 3 steps</p>
    <ol>
      <li>We retrieve the video transcript</li>
      <li>We use a State-of-the-art Transformer model to predict the sponsor timestamps</li>
      <li>We give you these time stamps back so you can skip them</li>
    </ol>
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"></label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter a video url like: https://www.youtube.com/watch?v=dQw4w9WgXcQ"  aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary">Get Ad Times</button>
</form>
</div>
</div>
{% endblock %}
